@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item d-flex align-items-center">
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
                    <svg class="user-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title></title><g id="User"><path d="M21,30H11a5,5,0,0,1-5-5V24a9,9,0,0,1,9-9h2a9,9,0,0,1,9,9v1A5,5,0,0,1,21,30ZM15,17a7,7,0,0,0-7,7v1a3,3,0,0,0,3,3H21a3,3,0,0,0,3-3V24a7,7,0,0,0-7-7Z"></path><path d="M16,14a6,6,0,1,1,6-6A6,6,0,0,1,16,14ZM16,4a4,4,0,1,0,4,4A4,4,0,0,0,16,4Z"></path></g></svg>
                    </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logga ut</button>
            </li>
        </ul>
    </form>
}
else
{
    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Logga in</a></li>
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Registrera dig</a></li>
        </ul>
    </div>
}