@{
    ViewData["Title"] = "Integritetspolicy för Il Quadrifoglio";
}
<h1>@ViewData["Title"]</h1>

<br /><br />
<h3>Dina personuppgifter och hur vi hanterar dem</h3><br />
<p>
    När du anförtror Il Quadrifoglio dina personuppgifter är det viktigt för oss att du känner dig trygg. Vi värnar om din personliga integritet. Dina personuppgifter behandlas med största respekt och i enlighet med gällande lagstiftning. Denna policy beskriver hur vi samlar in och behandlar dina personuppgifter när du besöker vår webbplats och använder de tjänster som erbjuds där.
    <br /><br />
    All personuppgiftsbehandling sker i enlighet med dataskyddsförordningen. Personuppgiftsansvarig är Il Quadrifoglio.
    <br /><br />
    I samband med att du skapar ett konto och lägger en order godkänner du att vi sparar och använder dina uppgifter för att fullfölja och tillhandahålla den service som du kan förvänta dig av oss.
</p>
<br /><br />
<h3>Vad är en personuppgift?</h3><br />
<p>
    Personuppgifter är information och data som direkt eller indirekt kan hänföras till en fysisk person som är i livet. Exempel på personuppgift är namn, personnummer, adress, e-postadress och telefonnummer. Det kan också gälla kundnummer, krypterade uppgifter och olika slags elektroniska identiteter som exempelvis IP-nummer.
</p>
<br /><br />
<h3>Vilka personuppgifter samlar vi in och varför?</h3><br />
<p>
    När du blir kund hos Il Quadrifoglio samlar vi in dina kontaktuppgifter: namn, adress, e-postadress, telefonnummer och, i förekommande fall, personnummer. Vi samlar även in uppgifter om leveransadress, betalningsinformation samt IP-adress. Det köpeavtal som vi har ingått med dig utgör den lagliga grunden för behandlingen av dina personuppgifter och är nödvändig för att vi ska kunna uppfylla våra rättsliga förpliktelser och fullgöra detta avtal gentemot dig gällande exempelvis leverans och betalning.
</p>
<br /><br />
<h3>Uppgifter som samlas in vid personlig kontakt</h3><br />
<p>
    När du kontaktar oss via exempelvis e-post eller telefon samlar vi in de personuppgifter som du lämnar till oss. Detta gör vi för att kunna besvara de frågor du har och för att hantera ditt ärende. Det kan t.ex. vara uppgifter om namn, e-postadress och ordernummer. Om din fråga rör en reklamation kommer vi att behandla dina uppgifter för att kunna uppfylla våra skyldigheter enligt gällande konsumentlagstiftning. Detta gör vi med bakgrund av den lagliga grund som baseras på vårt köpeavtal med dig.
</p>
<br /><br />
<h2>Hur använder vi dina personuppgifter?</h2>
<br />
<h3>Fullfölja ingått avtal</h3><br />
<p>
    Vi behandlar dina uppgifter för att identifiera dig som kund, hantera och leverera din beställning samt för att hantera fakturering och betalning. Vi behandlar även dina personuppgifter för att kunna hjälpa dig om du kontaktar oss med frågor, synpunkter eller exempelvis en reklamation.
</p>
<br /><br />
<h3>Information om produkter och tjänster</h3><br />
<p>
    Vi använder dina personuppgifter för e-postutskick med information om våra produkter och tjänster. Du kan när som helst kan återkalla ditt samtycke till mottagandet av nyhetsbrev, kampanjer och erbjudanden genom att kontakta oss via telefon eller använda den avanmälningslänk som finns i varje nyhetsbrev.
    <br /><br />
    <strong>Vi kommer aldrig att lämna ut dina uppgifter till obehörig part eller sälja dem vidare till extern part.</strong>
</p>
<br /><br />
<h2>Med vem delar vi personuppgifterna?</h2>
<br />
<h3>Betallösningar</h3><br />
<p>
    För att kunna ta betalt, hantera fakturor och betalningar delar vi uppgifter med Klarna och PayEx. Klarna och PayEx kommer att samla personuppgifter om dig i samband med betalning. Klarna och PayEx är således personuppgiftsansvariga för dessa uppgifter enligt bolagens villkor.
</p>
<br /><br />
<h3>Transportbolag</h3><br />
<p>
    Våra transportbolag tar del av de personuppgifter som krävs för att kunna fullfölja och leverera din beställning.
</p>
<br /><br />
<h3>Cookies/Google/Facebook</h3><br />
<p>
    Vi delar analysdata via tredjepartscookie för marknadsföring och webbanalys för att förbättra våra tjänster. Vi registrerar ingen information om besökarens IP-adress, därför kan informationen om dig aldrig kopplas samman med din identitet.
    <br />
    Vi använder analysverktyget Google Analytics för att förbättra innehåll, navigation och struktur på hemsidan. Analysverktyget använder JavaScript och cookies och den informationen om din användning är anonymiserad.
    <br /><br />
    För att undvika att få din information sparad kan du i din webbläsare välja att inte acceptera cookies.
</p>
<br /><br />
<h3>Myndigheter</h3><br />
<p>
    På begäran kan vi enligt lag och myndighetsbeslut vara skyldiga att lämna ut vissa personuppgifter, exempelvis till Polisen i samband med brottsutredning.
</p>
<br /><br />
<h3>Övriga</h3><br />
<p>
    Vi kan i förekommande fall överföra dina personuppgifter till andra mottagare än de som angivits ovan om det är nödvändigt för vår verksamhet. Vid all hantering av personuppgifter iakttas hög säkerhet och sekretess. Vi kan även komma att dela information med potentiella köpare om vi skulle sälja hela eller delar av verksamheten eller vid en sammanslagning.
</p>
<br /><br />
<h3>Så här länge sparar vi dina personuppgifter</h3><br />
<p>
    Vi sparar personuppgifter så länge det finns rättslig grund, ett dokumenterat syfte för behandlingen eller en pågående användarrelation. Vi har löpande rutiner som säkerställer att vi inte lagrar onödiga personuppgifter och vi minimerar lagringstiden i så stor utsträckning som möjligt. Normalt sparar vi dina kunduppgifter i maximalt tre år från din senaste kundkontakt. Dock sparar vi uppgifter som behövs enligt bokföringslagen, i upp till åtta år.
</p>
<br /><br />
<h3>Så här skyddar vi dina personuppgifter</h3><br />
<p>
    Vi har vidtagit lämpliga säkerhetsåtgärder för att skydda dina personuppgifter mot förlust, missbruk och obehörig åtkomst. Antalet personer som har tillgång till dina personuppgifter är begränsat. Endast personer hos oss som behöver behandla dina personuppgifter har tillgång till dem. De leverantörer som vi delar personuppgifter med kommer endast att behandla dem för vår räkning och göra det i
    enlighet med våra instruktioner.
    <br /><br />
    Vi använder oss av industristandarder för att lagra, behandla och kommunicera känslig information på ett säkert sätt t.ex. SSL/TLS, PGP och envägs hash-algoritmer.
</p>
<br /><br />
<h3>Du bestämmer över dina personuppgifter</h3><br />
<p>
    Du har rätt att ta del av vilka av dina personuppgifter som finns hos Il Quadrifoglio samt begära att få dessa raderade. För att få tillgång till den informationen eller radera dina uppgifter måste din ansökan vara skriftlig, innehålla ditt personnummer samt vara undertecknad av dig. Skicka din ansökan till Il Quadrifoglio, Dataskyddsombudet, 1:a Exempelgatan, Exempelstaden. Uppgifterna eller bekräftelse av radering skickas utan onödigt dröjsmål till din folkbokföringsadress.
    <br /><br />
    Du kan alltid använda dig av den avanmälningslänk som finns i alla kampanjer, erbjudanden och nyhetsbrev vi skickar till dig.
    <br /><br />
    Om dina uppgifter skulle vara ofullständiga, felaktiga eller irrelevanta har du rätt att begära att de rättas eller raderas. Du har också rätt att begära skadestånd om behandlingen av dina personuppgifter inte har följt lagen.
    <br /><br />
    Bland det som inte kan raderas finns bland annat data som krävs enligt bokföringslagen och data som krävs för att vi ska kunna uppfylla våra åtaganden vid t.ex. reklamationer.
    <br /><br />
    Det är viktigt för oss att du känner dig trygg. Vi värnar om din personliga integritet och strävar alltid efter att behandla dina personuppgifter med största respekt. Om du ändå anser att vi behandlar dina personuppgifter på ett felaktigt sätt så får du gärna höra av dig till oss. Du har också möjlighet att lämna in klagomål till Integritetsskyddsmyndigheten som är den myndighet som utövar tillsyn av behandlingen av personuppgifter.
    <br /><br />
    Il Quadrifoglio förbehåller sig rätten att göra ändringar i denna integritetspolicy när som helst i tiden, i den utsträckning de är nödvändiga för att åtgärda störningar eller uppfylla nya legala och tekniska krav. Alla ändringar av denna integritetspolicy kommer att publiceras på webbplatsen.
    <br /><br />
    För ytterligare information om vår personuppgiftshantering hänvisar vi till info@ilquadrifoglio.com.
</p>